/build/
/build-*/
/cmake-build-*/
/out/

compile_commands.json
.clangd
.cache

.qtcreator
.vscode
.idea
*.user
*.user.*
*.suo
*.userosv
*.sln
*.vcxproj

*.o
*.obj
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.exe

# Файлы операционных систем
.DS_Store
Thumbs.db
